<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %> 

<body>
    <%- include('./partials/nav.ejs') %> 

    
    <div class="container center-align">
        <i class="large material-icons prefix">sentiment_neutral</i>
        <h1>Oopps!!</h1>
        <h4>Page not found!!</h4>
     </div>
</body>
</html>