<div class="jumbotron text-center">
  <img src="img/profile.jpg" alt="profile" class="rounded" width="500">
  <h4 class="lead">Kusuma Ningrat</h4>
  <p>Network and System Administrator</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">More About me</a>
</div>
