<h2 class="header" style="text-align: center;">My portofolio</h2>
<div class="container mt-3">
    <div class="row align-items-start">
      <div class="col" style="margin-left: 150px;">
        <img src="img/profile.jpg" alt="kusuma" width="60%">
      </div>
      <div class="col ml-2">
        <img src="img/profile.jpg" alt="kusuma" width="60%">
      </div>
      <div class="col">
        <img src="img/profile.jpg" alt="kusuma" width="60%">
      </div>
    </div>
    <div class="row align-items-start mt-3">
      <div class="col" style="margin-left: 150px;">
        <img src="img/profile.jpg" alt="kusuma" width="60%">
      </div>
      <div class="col ml-2">
        <img src="img/profile.jpg" alt="kusuma" width="60%">
      </div>
      <div class="col">
        <img src="img/profile.jpg" alt="kusuma" width="60%">
      </div>
    </div>
  </div>